@model Dalworth.Server.Web.Partner.Models.SetupPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

@if (Model.Invitation.IsPasswordReset()) {
<title>Partner In Profit - Password reset</title>
} else {
<title>Partner In Profit - Password setup</title>
}

    <link rel="stylesheet" href="@Url.Content("~/Content/screen.css")" type="text/css" media="screen" title="default" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/custom_jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
</head>
<body id="content-outer">
    <div id="login-holder">
        
	    <div id="logo-login"></div>         
        <div id="content-table-inner">

        @if (!MvcHtmlString.IsNullOrEmpty(Html.ValidationSummary())){
		    <div id="message-red">
		    <table border="0" width="100%" cellpadding="0" cellspacing="0">
		    <tr>
			    <td class="red-left">
                    @Html.ValidationSummary()
			    <td class="red-right"><a class="close-red"><img src="../Content/images/table/icon_close_red.gif"   alt="" /></a></td>
		    </tr>
		    </table>
		    </div>        
        }

        </div>
        <div class="clear"></div>

@using (Html.BeginForm("SetupPassword", "Account", FormMethod.Post, new { id = "SetupPasswordForm" })) {
	    <div id="password-setupbox">	
		
            @if (Model.Invitation.IsPasswordReset()) {
                <div id="forgotbox-text">Password reset: please enter your new password</div>
            } else {
                <div id="invitation-text">You are invited into Partner In Profit program. Your login is @Model.Invitation.Email.
                Please enter your password to sign up.</div>
            }
         
	        <div id="login-inner">
		        <table border="0" cellpadding="0" cellspacing="0">
		        <tr>
			        <th>Password</th>
			        <td>
                        @Html.PasswordFor(m => m.Password, new { @onfocus = "this.value=''", @class = "login-inp" })
                    </td>
		        </tr>
		        <tr>
			        <th>Confirm Password</th>
			        <td>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @onfocus = "this.value=''", @class = "login-inp" })
                    </td>
		        </tr>
		        <tr>
			        <th></th>
			        <td>                        
                        <input id="SubmitButton" type="submit" class="submit-login"/>
                    </td>
		        </tr>
		        </table>
	        </div>
 	        
	        <div class="clear"></div>
            @Html.ActionLink("Login", "LogIn", new { controller = "Account" }, new { @class="back-login" })
        </div>
}


    </div>
</body>
</html>
