@using Dalworth.Common.SDK
@using Dalworth.LeadCentral.Domain
@using Dalworth.LeadCentral.Service
@model Lead

@{
    ViewBag.Title = "Lead Details";
    var currentUser = ContextHelper.GetCurrentUser();
}

<script type="text/javascript">
    function confirmSubmit() {
        var agree = confirm("Are you sure?");
        if (agree)
            return true;
        else
            return false;
    }
</script>

  <div class="box">
    <div class="left"></div>
    <div class="right"></div>
    <div class="heading">
      <div style="float:right;padding: 8px 0px 8px 0px;">
@*
        @Html.ActionLink("Back to Leads List", "Index", new{controller="Leads"}, new {@class="button"})
*@
        @if (!currentUser.IsBusinessPartner && !currentUser.IsAccounter())
        {
            <span>@Html.ActionLink("Edit", "Edit", "Leads", new {Model.Id}, new {@class = "button primary"})</span>
        }
      </div>
      <h1>Lead [@Model.Name]</h1>
    </div>
    <div class="content">
        <div class="details" style="margin-top:5px; margin-bottom:5px;text-align:right;padding:5px;background-color:#DDF">
      @if (Model.QbInvoices != null && Model.QbInvoices.Count > 0)
      {
          <span>Lead matched to <b>@Model.QbInvoices.Count</b> Invoices. Closed Amount: <b>@string.Format("{0:C}", Model.Amount)</b></span> 
      }
      @if (!currentUser.IsBusinessPartner && !currentUser.IsAccounter())
      {
          <span>@Html.ActionLink("Match to Quickbooks invoices", "MatchToInvoices", "Leads", new { Model.Id }, new { @class = "button" })</span>
      }
        </div>
        <div class="details">
          <table class="form">
            <tr>
              <td style="text-align:right;">Lead Status</td>
              <td><b>@Model.StatusStr</b></td>
            </tr>
            <tr>
              <td style="text-align:right;">Campaign</td>
              <td><b>@Model.CampaignStr</b></td>
            </tr>
            <tr>
              <td style="text-align:right;">Business Partner</td>
              <td><b>@Model.BusinessPartnerStr</b></td>
            </tr>
            <tr>
              <td style="text-align:right;">First Name</td>
              <td><b>@Model.FirstName</b></td>
            </tr>
            <tr>
              <td style="text-align:right;">Last Name</td>
              <td><b>@Model.LastName</b></td>
            </tr>
            <tr>
              <td style="text-align:right;">Phone</td>
              <td><b>@Model.PhoneStr</b> </td>
            </tr>
            <tr>
              <td style="text-align:right;">Address</td>
              <td><b>@Model.Address</b></td>
            </tr>
            <tr>
              <td style="text-align:right;">Customer Notes</td>
              <td><b>@Model.CustomerNotes</b></td>
            </tr>
          </table>
        </div>
        <br/>
@if (Model.RelatedSource != null)
{
    switch (Model.RelatedSource.Type)
    {
        case SourceEnum.PhoneCall:
        <script type="text/javascript">        //<![CDATA[
            var call_url = "@Model.RelatedSource.RelatedPhoneCall.FullRecordingUrl";
            
            $(document).ready(function () {
                $("#jquery_jplayer").jPlayer({
                    ready: function () {
                        $("#jquery_jplayer").jPlayer("setMedia", { mp3: call_url });
                    },
                    swfPath: "/Scripts"
                });
            });
        //]]>        </script>        <div style="background: #547C96; color: #FFF; border-bottom: 1px solid #8EAEC3; padding: 5px; font-size: 14px; font-weight: bold;">Lead created by Phone Call</div>
        <div style="background: #FCFCFC; border: 1px solid #8EAEC3; padding: 10px;">
            <div id="player" style="float:right;">
                <div id="jquery_jplayer" class="jp-jplayer"></div>                <div class="jp-audio">                    <div class="jp-type-single">                    <div id="jp_interface_1" class="jp-interface">                        <ul class="jp-controls">                        <li><a href="#" class="jp-play" tabindex="1">play</a></li>                        <li><a href="#" class="jp-pause" tabindex="1">pause</a></li>                        <li><a href="#" class="jp-stop" tabindex="1">stop</a></li>                        <li><a href="#" class="jp-mute" tabindex="1">mute</a></li>                        <li><a href="#" class="jp-unmute" tabindex="1">unmute</a></li>                        </ul>                        <div class="jp-progress">                        <div class="jp-seek-bar">                            <div class="jp-play-bar"></div>                        </div>                        </div>                        <div class="jp-volume-bar">                        <div class="jp-volume-bar-value"></div>                        </div>                        <div class="jp-current-time"></div>                        <div class="jp-duration"></div>                    </div>                    </div>                </div>            </div>
          <div style="margin-right: 430px;">
              <table class="form">
                <tr>
                  <td style="text-align:right;">From number:</td>
                  @if (Model.RelatedSource.RelatedPhoneCall.IsFromPhoneBlackListed)
                  {
                  <td style="color:#D00;">
                    <b>@string.Format("{0:(###) ###-####}", Int64.Parse(StringUtil.ExtractLastDigits(Model.RelatedSource.RelatedPhoneCall.FromPhone, 10)))</b>
                    &nbsp;&nbsp;<i>Phone number is blocked.</i>
                  </td>
                  }else
                  {
                  <td>
                    <b>@string.Format("{0:(###) ###-####}", Int64.Parse(StringUtil.ExtractLastDigits(Model.RelatedSource.RelatedPhoneCall.FromPhone, 10)))</b>
                    &nbsp;&nbsp;@Html.ActionLink("Add phone number to black list", "BlockPhoneNumber", new { controller = "Leads", leadId = Model.Id, phone = Model.RelatedSource.RelatedPhoneCall.FromPhone }, new { @onclick="return confirmSubmit()" })
                  </td>
                  }
                </tr>
                <tr>
                  <td style="text-align:right;">Tracking phone:</td>
                  <td><b>@string.Format("{0:(###) ###-####}", Int64.Parse(StringUtil.ExtractLastDigits(Model.RelatedSource.RelatedPhoneCall.TrackingPhoneNumber, 10)))</b></td>
                </tr>
                <tr>
                  <td style="text-align:right;">Call Duration</td>
                  <td>@Model.RelatedSource.RelatedPhoneCall.CallDurationStr</td>
                </tr>
                <tr>
                  <td style="text-align:right;">Caller ID</td>
                  <td>@Model.RelatedSource.RelatedPhoneCall.CallerName</td>
                </tr>
              </table>
          </div>

          @if (Model.RelatedSource.RelatedPhoneCall.TrackingPhoneRotations != null
              && Model.RelatedSource.RelatedPhoneCall.TrackingPhoneRotations.Count > 0)
          {
              <h4>Possible related phone web rotations:</h4>

              <table class="list">
                <thead>
                  <tr>
                    <td class="left">Page URI</td>
                    <td class="left">Showed Number</td>
                    <td class="left">Time</td>
                    <td class="left">Referral URI</td>
                  </tr>
                </thead>
                <tbody>
                @foreach (var rotation in Model.RelatedSource.RelatedPhoneCall.TrackingPhoneRotations)
                {
                  <tr>
                    <td class="left">@rotation.RotationPageUri</td>
                    <td class="left">@rotation.ShowedPhoneNumber</td>
                    <td class="left">@String.Format("{0:g}", rotation.TimeRotation)</td>
                    <td class="left">@rotation.ReferralUri</td>
                  </tr>
                }
                </tbody>
              </table>
          }

        </div>
          break;
        case SourceEnum.PhoneSms:
        <div style="background: #547C96; color: #FFF; border-bottom: 1px solid #8EAEC3; padding: 5px; font-size: 14px; font-weight: bold;">Lead created by Phone SMS</div>
        <div style="background: #FCFCFC; border: 1px solid #8EAEC3; padding: 10px;">
          <table class="form">
            <tr>
                <td style="text-align:right;">From number:</td>
                  @if (Model.RelatedSource.RelatedPhoneSms.IsFromPhoneBlackListed)
                  {
                  <td style="color:#D00;">
                    <b>@string.Format("{0:(###) ###-####}", Int64.Parse(StringUtil.ExtractLastDigits(Model.RelatedSource.RelatedPhoneSms.FromPhone, 10)))</b>
                    &nbsp;&nbsp;<i>Phone number is blocked</i>
                  </td>
                  }else
                  {
                  <td>
                    <b>@string.Format("{0:(###) ###-####}", Int64.Parse(StringUtil.ExtractLastDigits(Model.RelatedSource.RelatedPhoneSms.FromPhone, 10)))</b>
                    &nbsp;&nbsp;@Html.ActionLink("Add phone number to black list", "BlockPhoneNumber", new { controller = "Leads", leadId = Model.Id, phone = Model.RelatedSource.RelatedPhoneSms.FromPhone }, new { @onclick = "return confirmSubmit()" })
                  </td>
                  }
            </tr>
            <tr>
                <td style="text-align:right;">Tracking phone:</td>
                <td><b>@string.Format("{0:(###) ###-####}", Int64.Parse(StringUtil.ExtractLastDigits(Model.RelatedSource.RelatedPhoneSms.TrackingPhoneNumber,10)))</b></td>
            </tr>
            <tr>
              <td style="text-align:right;">SMS message</td>
              <td><b>@Model.RelatedSource.RelatedPhoneSms.Message</b></td>
            </tr>
          </table>

          @if (Model.RelatedSource.RelatedPhoneSms.TrackingPhoneRotations != null
              && Model.RelatedSource.RelatedPhoneSms.TrackingPhoneRotations.Count > 0)
          {
              <h4>Possible related phone web rotations:</h4>

              <table class="list">
                <thead>
                  <tr>
                    <td class="left">Page URI</td>
                    <td class="left">Showed Number</td>
                    <td class="left">Time</td>
                    <td class="left">Referral URI</td>
                  </tr>
                </thead>
                <tbody>
                @foreach (var rotation in Model.RelatedSource.RelatedPhoneSms.TrackingPhoneRotations)
                {
                  <tr>
                    <td class="left">@rotation.RotationPageUri</td>
                    <td class="left">@rotation.ShowedPhoneNumber</td>
                    <td class="left">@String.Format("{0:g}", rotation.TimeRotation)</td>
                    <td class="left">@rotation.ReferralUri</td>
                  </tr>
                }
                </tbody>
              </table>
          }

        </div>
          break;
        case SourceEnum.WebForm:
        <div style="background: #547C96; color: #FFF; border-bottom: 1px solid #8EAEC3; padding: 5px; font-size: 14px; font-weight: bold;">Lead created by Web Form</div>
        <div style="background: #FCFCFC; border: 1px solid #8EAEC3; padding: 10px;">
          <table class="form">
            <tr>
              <td style="text-align:right;">First Name:</td>
              <td>@Model.RelatedSource.RelatedWebForm.FirstName</td>
            </tr>
            <tr>
              <td style="text-align:right;">Last Name:</td>
              <td>@Model.RelatedSource.RelatedWebForm.LastName</td>
            </tr>
            <tr>
              <td style="text-align:right;">Phone:</td>
              <td>@Model.RelatedSource.RelatedWebForm.Phone</td>
            </tr>
            <tr>
              <td style="text-align:right;">Message:</td>
              <td>@Model.RelatedSource.RelatedWebForm.Message</td>
            </tr>
            <tr>
              <td style="text-align:right;">Web Page:</td>
              <td>@Model.RelatedSource.RelatedWebForm.WebPageUri</td>
            </tr>
          </table>
        </div>
             break;
        case SourceEnum.User:
        <div style="background: #547C96; color: #FFF; border-bottom: 1px solid #8EAEC3; padding: 5px; font-size: 14px; font-weight: bold;">Lead created by User</div>
        <div style="background: #FCFCFC; border: 1px solid #8EAEC3; padding: 10px;">
          <table class="form">
            <tr>
              <td style="text-align:right;">First Name:</td>
              <td>@Model.RelatedSource.RelatedUser.FirstName</td>
            </tr>
            <tr>
              <td style="text-align:right;">Last Name:</td>
              <td>@Model.RelatedSource.RelatedUser.LastName</td>
            </tr>
            <tr>
              <td style="text-align:right;">Phone:</td>
              <td>@Model.RelatedSource.RelatedUser.Phone</td>
            </tr>
            <tr>
              <td style="text-align:right;">Email:</td>
              <td>@Model.RelatedSource.RelatedUser.Email</td>
            </tr>
            <tr>
              <td style="text-align:right;">Address:</td>
              <td>@Model.RelatedSource.RelatedUser.Address</td>
            </tr>
          </table>
        </div>
             break;
    }
}
        <br/>
@if (Model.QbInvoices != null && Model.QbInvoices.Count > 0)
{
        <div style="background: #547C96; color: #FFF; border-bottom: 1px solid #8EAEC3; padding: 5px; font-size: 14px; font-weight: bold;">Matched Invoices</div>
    foreach (var invoice in Model.QbInvoices)
    {
        Html.RenderPartial("QbInvoice", invoice);
    }
}
        </div>
      </div>
